body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  background: rgb(8, 8, 8);
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: Gotham, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: small;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
  color: #fff;
}

.header,
.footer {
  margin: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header .links {
  gap: 32px;
}

.footer .links {
  gap: 8px;
}

.home,
.synopsis,
.gallery {
  margin: 12px 0;
}

.home {
  height: 100vh;
  background-image: linear-gradient(90deg,
      rgba(8, 8, 8, 1) 0%,
      rgba(8, 8, 8, 0.1) 100%),
    url(images/image6.jpg);
  background-position: left center;
  background-repeat: repeat-x;

  display: flex;
  align-items: center;
}

.home .text {
  text-align: center;
  padding: 16px;
  margin: 16px;
  flex-basis: 60%;
}

.home .text h3 {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.synopsis {
  min-height: 100%;
  background-image: linear-gradient(90deg,
      rgba(8, 8, 8, 1) 0%,
      rgba(8, 8, 8, 0.1) 100%),
    url(images/image5.jpg);
  background-position: left center;
  background-repeat: repeat-x;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.synopsis .text {
  text-align: left;
  padding: 16px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.synopsis .text h3 {
  font-size: small;
  text-align: left;
  width: fit-content;
  font-weight: lighter;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.synopsis .text p {
  font-size: small;
  align-self: flex-end;
}

.synopsis .image img{
  max-width: 50vw;
  height: auto;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gallery .text {
  align-self: center;
  margin-bottom: 32px;
}

.gallery .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 64px;
}

.gallery .container .card {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.gallery .container .card img {
  max-height: 300px;
  width: auto;
}

.gallery .container .card p,
.signup p {
  font-size: small;
  font-weight: lighter;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  border-style: dashed;
  min-width: 50%;
  padding: 32px;
  margin: 64px;
}

.signup .text {
  display: flex;
  flex-direction: column;
}

h1,
h2,
ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 58px;
  color: #d95523;
}

h2 {
  font-size: 18px;
}

.logo {
  width: 48px;
  height: auto;
  filter: invert(90%) sepia(70%) saturate(1%) hue-rotate(32deg) brightness(107%) contrast(101%);
}

button {
  padding: 8px 32px;
  background-color: #080808;
  color: #d95523;
  border-radius: 25px;
  border-width: 1px;
  border-color: #d95523;
  font-family: inherit;
  font-size: inherit;
}

.social-media {
  width: 32px;
  height: auto;
}